@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-label {
    @apply group-hover:opacity-100 group-hover:-translate-y-1 group-hover:scale-100
    delay-150 ease-in-out transition-all opacity-100 scale-100
    lg:opacity-0 lg:scale-0 rounded-sm p-2 bg-background;
  }

  .vert-arrangement {
    @apply min-w-full items-center flex flex-col sm:p-2 gap-6;
  }
  
  .hover-chip {
    @apply text-sm sm:text-xl bg-[--highlight] p-2 rounded-sm ring-[0.5px] ring-[--foreground];
  }

  .panel-link {
    @apply w-fit py-2 px-8 ring-2 ring-[--foreground] bg-[--highlight] no-underline whitespace-nowrap
  }

  .light-grad {
    @apply bg-gradient-to-br from-blue-300 via-stone-300 to-rose-100
  }

  .dark-grad {
    @apply bg-gradient-to-br from-purple-900 to-blue-900
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #e5e5e5;
  --link: #8d88e7;
  --link-hover: #4338ca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #d6d6d6;
    --highlight: #1a2223;
    --link: #cacaca;
    --link-hover: #369ffa;
  }
}

.bg-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb((--highlight) / var(--tw-bg-opacity, 1))
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a p, a {
  @apply underline text-[--link] hover:text-[--link-hover]
}

h1 {
  @apply text-4xl
}

h2 {
  @apply text-2xl
}

h3 {
  @apply text-lg
}

p {
  @apply mb-8 tracking-wide leading-7
}

label {
  @apply mb-2 inline-block underline underline-offset-4
}