@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex items-center justify-center
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .chip {
    @apply flex flex-row w-fit h-12 items-center gap-2 rounded-xl p-2 bg-zinc-500 text-neutral-800;
  }

  .dynamic-carousel {
    @apply flex flex-row overflow-x-auto scroll-smooth snap-x snap-mandatory
  }

  .column-view {
    @apply flex flex-col gap-4
  }

  .preview-grid {
    @apply grid grid-rows-3 gap-4 lg:grid-cols-2 lg:grid-rows-1 
  }

  .project-preview {
    @apply flex items-end rounded-lg lg:h-72 h-72
  }

  .button {
    @apply bg-slate-700 rounded-lg p-2 text-center hover:bg-slate-600
  }

  .mobile-op {
    @apply max-w-screen-md lg:max-w-screen-lg 
  }

  .hover-chip {
    @apply text-sm sm:text-xl bg-[--highlight] hover:bg-[--foreground] p-2;
  }

  .hover-label {
    @apply w-fit mx-auto text-[10pt] p-0.5 bg-background 
    group-hover:opacity-100 group-hover:scale-100
    delay-150 ease-in-out transition-all opacity-100 scale-100
    lg:opacity-0 lg:scale-0 lg:translate-y-4 lg:text-lg lg:relative lg:p-2 ;
  }

  .showcase-grid {
    @apply min-w-full items-baseline sm:p-2 gap-6 snap-center scroll-mt-10; 
  }
  
  .panel {
    @apply bg-zinc-800 border-4 border-neutral-700 rounded-lg drop-shadow-xl w-full p-8
  }

  .light-grad {
    @apply bg-gradient-to-br from-blue-300 via-stone-300 to-rose-100
  }

  .dark-grad {
    @apply bg-gradient-to-br from-purple-900 to-blue-900
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #e5e5e5;
  --link: #ca3838;
  --link-hover: #0609c7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #dddddd;
    --highlight: #373737;
    --link: #cacaca;
    --link-hover: #369ffa;
  }
}

.bg-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb((--highlight) / var(--tw-bg-opacity, 1))
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a p, a {
  @apply text-[--link] hover:text-[--link-hover]
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-xl
}

h3 {
  @apply text-lg
}

p {
  @apply mb-2
}

label {
  @apply mb-2 inline-block
}