@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-label {
    @apply group-hover:opacity-100 group-hover:-translate-y-1 group-hover:scale-100
    delay-150 ease-in-out transition-all opacity-100 scale-100
    lg:opacity-0 lg:scale-0 rounded-lg p-2 dark:bg-neutral-900 bg-background;
  }

  .vert-arrangement {
    @apply min-w-full items-center flex flex-col sm:p-2 gap-6;
  }
  
  .hover-chip {
    @apply hover:bg-background dark:hover:bg-foreground p-2 text-lg sm:text-xl
  }

  .panel-link {
    @apply w-fit py-2 px-8 ring-2 ring-[--highlight] hover:bg-foreground no-underline whitespace-nowrap
  }

  .light-grad {
    @apply bg-gradient-to-br from-blue-300 via-stone-300 to-rose-400
  }

  .dark-grad {
    @apply bg-gradient-to-br from-purple-900 via-fuchsia-400/30 to-blue-800
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: hsl(0, 0%, 84%);
    --highlight: hsl(190, 16%, 12%);
  }
}

.bg-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb((--highlight) / var(--tw-bg-opacity, 1))
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a p, a {
  @apply underline dark:text-indigo-600 dark:hover:text-indigo-500 hover:text-indigo-700 dark:visited:text-fuchsia-400 visited:text-fuchsia-600
}

h1 {
  @apply text-4xl
}

h2 {
  @apply text-2xl
}

h3 {
  @apply text-lg
}

p {
  @apply mb-8 tracking-wide leading-7
}

label {
  @apply mb-2 inline-block underline underline-offset-4
}