@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex items-center justify-center
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .card-container {
    @apply flex flex-col gap-4 p-4 rounded-md bg-zinc-800;
  }

  .project-label {
    @apply absolute bg-zinc-800 p-2 m-2 rounded-lg drop-shadow-lg text-xl;
  }

  .chip {
    @apply flex flex-row w-fit text-center items-center gap-2 rounded-lg p-2 bg-neutral-400 text-neutral-900;
  }

  .dynamic-carousel {
    @apply flex flex-row overflow-x-auto scroll-smooth snap-x snap-mandatory
  }

  .column-view {
    @apply flex flex-col gap-4
  }

  .preview-grid {
    @apply grid grid-rows-2 gap-4 lg:grid-cols-2 lg:grid-rows-1 
  }

  .project-preview {
    @apply flex items-end rounded-lg
  }

  .button {
    @apply bg-zinc-800 rounded-lg p-2 text-center hover:bg-[--highlight]
  }

  .mobile-op {
    @apply max-w-screen-sm lg:max-w-screen-lg px-4 lg:px-0 min-h-screen m-auto
  }

  .hover-chip {
    @apply text-sm sm:text-xl bg-[--highlight] hover:bg-[--foreground] p-2;
  }

  .hover-label {
    @apply w-fit mx-auto text-[10pt] p-0.5 bg-background 
    group-hover:opacity-100 group-hover:scale-100
    delay-150 ease-in-out transition-all opacity-100 scale-100
    lg:opacity-0 lg:scale-0 lg:translate-y-4 lg:text-lg lg:relative lg:p-2;
  }

  .showcase-grid {
    @apply min-w-full items-baseline sm:p-2 gap-6 snap-center scroll-mt-10; 
  }
  
  .panel {
    @apply bg-zinc-900 drop-shadow-xl w-full p-4
  }

  .frame {
    @apply border-2 border-neutral-700 rounded-lg
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #e5e5e5;
  --link: #cacaca;
  --link-hover: #0609c7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #dddddd;
    --highlight: #404040;
    --link: #cacaca;
    --link-hover: #369ffa;
  }
}

.bg-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb((--highlight) / var(--tw-bg-opacity, 1))
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a p, a {
  @apply text-[--link] hover:text-[--link-hover]
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl mt-4 mb-1
}

p {
  @apply mb-2 text-lg;
}

label {
  @apply mb-2 inline-block
}