@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-label {
    @apply group-hover:opacity-100 sm:opacity-0 transition-all group-hover:-translate-y-1 delay-150 ease-in-out opacity-100;
  }

  .vert-arrangement {
    @apply min-w-full items-center flex flex-col sm:p-2 sm:gap-8 gap-4 dark:bg-stone-500 divide-neutral-300 divide-dashed divide-y-4
    *:p-2 *:pt-4;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}
